<html>
<head>
  <style>
    header{
      margin-bottom: 10px;
      background-color: red;
      width: 100%;
      height: 100px;
    }
    div{
      width: 50%;
      margin: 0 auto;
    }
    div img {
      width: 100%;
    }
    footer{
      background-color: blue;
      width: 100%;
      height: 100px;
      margin: auto;
    }
    p{
      text-align: center;
    }
  </style>
</head>


<body>
  <header >

  </header>

  <main>
    <div>
      <img src="http://www.comment-contacter.fr/images/easyblog_articles/547/Lewis-Hamilton-Couverture.jpg">
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at, corporis debitis dicta dignissimos doloremque eius excepturi labore laudantium magnam mollitia optio pariatur perspiciatis, quos sed sit temporibus ullam veniam.</p>
  </main>

  <footer>

  </footer>
</body>


</html>